body{
	background-color: #0000009c;
  color: white;
}

ol{
	font-size: 30px
}

aside{
	margin: 25px;
  height: 100%;
  float: left;
}

li a{color: lightblue;
}
.volver:link, .volver:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  border: 2px dotted white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.volver:hover, .volver:active {
  background-color: red;
}